<div class="text-center">
  <h3>Name</h3>
  <input id= "name" value = "{{name}}">
  <h3>Description</h3>
 <input id= "description" value = "{{description}}">
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary" id="edit-btn">Edit Post</button>
  </p>
</div>


<script src="/js/editPost.js"></script>